body {
    margin: 0%;
}

.nav {
    background-color: black;
    line-height: 3;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    margin-top: 30px;
}

table {
    margin: auto;
    width: 100%;
}

input {
    font-size: 35.8px;
    border: none;
    line-height: 1.5;
    margin-bottom: 3px;
}

button {
    font-size: 23px;
    background-color: rgb(140, 140, 140);
    width: 104px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 2px black;
    border-radius: 1px;
    margin: 2px;
    cursor: pointer;
}

.calculator {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border: 10px solid black;
}


@media only screen and (max-width: 488px) {
    .calculator {
        width: 70%;
    }

    table {
        width: 100%;
        margin: auto;
    }

    button {
        width: 90%;
        height: 37.5px;
    }

    input {
        width: 100%;
        font-size: 29px;
    }

    .nav {
        width: 100%;
    }
}